body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  line-height: 20px;
}

.stock-card {
  position: static;
  left: 30%;
  top: 30%;
  display: block;
  max-width: 920px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .16);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .16);
  font-size: 14px;
}

.stat-label {
  font-family: Roboto, sans-serif;
  color: #9e9e9e;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.stat-label.predictions {
  font-size: 0.8571em;
  font-weight: 700;
}

.actual-stat {
  font-family: Roboto, sans-serif;
  font-size: 1.143em;
  font-weight: 500;
}

.bet-btn {
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px 25px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, .2);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-family: Roboto, sans-serif;
  color: #00c853;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.bet-btn:hover {
  border-color: #00c853;
  background-color: #00c853;
  color: #fff;
}

.bet-btn.bet-down {
  color: #f44336;
}

.bet-btn.bet-down:hover {
  border-color: #f44336;
  background-color: #f44336;
  color: #fff;
}

.people-prediction.bet-down-stat {
  text-align: right;
}

.bet-down-column {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

.btn-row {
  margin-top: 2.214em;
}

.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.navbar-button {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px none #000;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  font-family: Roboto, sans-serif;
  color: #00c853;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.navbar-button:hover {
  color: #000;
}

.navbar-button.sign-up-btn {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: #00c853;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: #00c853;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navbar-button.sign-up-btn:hover {
  background-color: #00c853;
  color: #fff;
}

.navbar-container {
  max-width: 1200px;
  margin-top: 15px;
}

.container {
  display: block;
  max-width: 1200px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.homepage-row {
  padding-top: 60px;
}

.introduction-container {
  padding-top: 41px;
  padding-right: 120px;
}

.company-name {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: lowercase;
}

.company-desc {
  width: auto;
  max-width: 440px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-size: 38px;
  line-height: 48px;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.subtext {
  max-width: 300px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.form-wrapper {
  padding-top: 0px;
}

.submit-button {
  display: block;
  margin-top: 27px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #d6d962;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #c3c55b;
  color: #fff;
}

.name-field {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 500;
  letter-spacing: 0px;
}

.email-field {
  margin-top: 0px;
  padding-top: 8px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 500;
}

.feature-section {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgba(41, 70, 4, 0);
  background-image: -webkit-linear-gradient(270deg, rgba(86, 138, 62, .94), rgba(86, 138, 62, .94)), url('../images/guap avocado only.png');
  background-image: linear-gradient(180deg, rgba(86, 138, 62, .94), rgba(86, 138, 62, .94)), url('../images/guap avocado only.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 975px;
  background-repeat: repeat, no-repeat;
  opacity: 0.85;
}

.feature-section:focus {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.body {
  font-family: Roboto, sans-serif;
}

.small-intro {
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
}

.small-intro-container {
  display: block;
  max-width: 700px;
  margin: 0px auto;
  padding-top: 126px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 39.5px;
}

.explanation-text {
  display: block;
  max-width: 608px;
  margin: 60px 45px 125px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  font-weight: 100;
  text-align: center;
}

.hero-section {
  position: static;
  margin-bottom: 0px;
  padding-bottom: 11px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6)), url('../images/Untitled-2.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6)), url('../images/Untitled-2.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 160px;
}

.next-section-button {
  display: block;
  width: auto;
  max-width: 36px;
  margin: 70px auto 15px;
  opacity: 0.55;
}

.next-section-button.w--current {
  margin-bottom: 16px;
  opacity: 0.5;
}

.bottom-section {
  display: block;
  margin-top: 0px;
  padding-bottom: 32px;
  background-color: #fff;
  background-image: url('../images/tile-white_1.png');
  background-position: 0px 0px;
  background-size: 160px;
}

.contact-us-icons {
  display: inline-block;
  max-width: 800px;
  margin: 0px auto 3px 112px;
  padding-bottom: 0px;
}

.facebook-icon {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fb-icon {
  position: absolute;
  bottom: -49px;
  display: block;
  width: auto;
  margin-top: 12px;
  margin-right: 15px;
  padding-right: 0px;
}

.copyright {
  display: inline-block;
  width: auto;
  margin-top: 16px;
  margin-left: 0px;
  font-weight: 700;
}

.twitter-icon {
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
}

.twitter-icon {
  position: absolute;
  bottom: -46px;
  margin-top: 16px;
  margin-left: 4px;
}

.bottom-container {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.instagram-icon {
  position: absolute;
  margin-top: 7px;
  margin-left: 3px;
}

.email-icon {
  position: absolute;
  margin-top: 7px;
  margin-left: 2px;
}

.login-box {
  display: block;
  max-width: 1000px;
  margin: 244px auto 0px;
  padding: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 7px 47px 25px rgba(0, 0, 0, .06);
}

.username-field {
  margin-top: 20px;
  margin-left: 0px;
  border-style: none none solid;
  border-color: rgba(0, 0, 0, .3);
  border-bottom-width: 1px;
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.password-field {
  margin-top: 16px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: rgba(0, 0, 0, .3);
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.body-section {
  height: auto;
  background-color: hsla(66, 71%, 77%, .26);
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6)), url('../images/tile-white.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6)), url('../images/tile-white.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 160px;
}

.log-in-label {
  margin-top: 49px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.what-we-offer-section {
  margin-bottom: 0px;
  background-color: hsla(57, 52%, 85%, .78);
  background-image: -webkit-linear-gradient(270deg, hsla(57, 52%, 85%, .78), hsla(57, 52%, 85%, .78)), url('../images/allalalla.png');
  background-image: linear-gradient(180deg, hsla(57, 52%, 85%, .78), hsla(57, 52%, 85%, .78)), url('../images/allalalla.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 100%;
}

.what-we-offer {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.stock-graph {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.login-logo {
  display: block;
  margin: 0px auto 23px;
}

.login-signup-row {
  display: block;
}

.login-column {
  padding: 25px 25px 25px 35px;
  border-color: rgba(0, 0, 0, .4);
  border-left-style: solid;
  border-left-width: 1px;
}

.login-label {
  display: block;
  margin-top: -19px;
  color: rgba(120, 194, 101, .88);
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.signup-column {
  padding: 25px 35px 25px 25px;
}

.buttom-section-large-margin {
  margin-top: 261px;
}

.header-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 3;
  display: block;
  height: 75px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 0px;
  background-color: #fff;
  text-align: right;
}

.top-left-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-bottom: 0px;
  float: left;
  text-align: right;
}

.search-box {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 185px;
  max-width: 300px;
  margin: 5px auto 0px;
  padding: 4px 0px 0px 6px;
  float: none;
  clear: none;
  border-style: none none solid;
  border-color: rgba(0, 0, 0, .34);
  border-bottom-width: 1px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.search-form {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: auto;
  max-width: 300px;
  margin-left: 0px;
}

.search-bar-wrapper {
  display: inline-block;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  float: none;
}

.profile-image {
  position: relative;
  margin-top: 5px;
  margin-right: 9px;
  margin-left: 32px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  border-radius: 50%;
}

.has-left-sidebar {
  padding-top: 75px;
  background-color: #f2f2f2;
}

.stock-card-container {
  display: block;
  max-width: 1100px;
  margin-top: 34px;
  margin-right: auto;
  margin-left: auto;
}

.bet-up-column {
  padding-left: 0px;
}

.navbar-menu {
  position: relative;
  margin-top: 0px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .06);
  border-bottom-style: solid;
}

.tab-title {
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.navbar-tab-style {
  margin-right: 25px;
  padding: 15px 8px;
  background-color: hsla(0, 0%, 87%, 0);
  font-family: Roboto, sans-serif;
}

.navbar-tab-style:hover {
  border-bottom: 2px solid #568a3e;
}

.navbar-tab-style.w--current {
  margin-top: 0px;
  margin-right: 25px;
  padding: 15px 8px;
  border-style: none none solid;
  border-width: 2px;
  border-color: #568a3e;
  background-color: hsla(0, 0%, 78%, 0);
}

.stocks-pane {
  padding: 0px 60px 60px;
}

.logout-icon {
  margin-top: 10px;
  margin-left: 35px;
  opacity: 0.42;
}

.slider {
  height: 360px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .13);
}

.balance-header {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.balance-container {
  margin-top: 35px;
  padding: 33px 30px;
  background-color: #fff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .16);
}

.balance-value {
  margin-top: 35px;
  margin-left: 0px;
  font-family: Roboto, sans-serif;
  color: #00c853;
  font-size: 36px;
  font-weight: 500;
}

.balance-value.token-value {
  color: rgba(0, 0, 0, .7);
}

.balance-row {
  margin-top: 5px;
  margin-left: 90px;
}

.payment-row {
  margin-top: 10px;
  margin-left: 90px;
  border-style: none;
  border-right-width: 1px;
  border-right-color: #000;
}

.existing-cards {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-right: 1px none rgba(0, 0, 0, .34);
}

.deposit-withdraw-buttons {
  padding: 10px 20px;
  text-align: center;
}

.example-card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 17px;
  background-color: hsla(0, 0%, 89%, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.deposit-button {
  display: inline-block;
  margin: 15px 10px 15px 0px;
  padding: 9px 70px;
  border: 1px solid #00c853;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Roboto, sans-serif;
  color: #00c853;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.deposit-button.withdraw-button {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 68px;
  padding-left: 68px;
}

.add-a-card-btn {
  display: block;
  margin-top: 14px;
  border: 1px solid #00c853;
  border-radius: 5px;
  background-color: rgba(56, 152, 236, 0);
  font-family: Roboto, sans-serif;
  color: #00c853;
  font-weight: 700;
  text-transform: uppercase;
}

.trade-overview-row {
  margin-top: 35px;
  margin-left: 120px;
  padding-top: 0px;
}

.number-of-trades {
  padding-top: 10px;
  padding-bottom: 10px;
}

.biggest-trade-lbl {
  display: inline-block;
}

.biggest-trade {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.number-of-trades-lbl {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.number-of-trades-stat {
  display: inline-block;
  margin-left: 8px;
}

.prediction-rate-lbl {
  display: inline-block;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.biggest-trade-stat {
  display: inline-block;
  margin-left: 8px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.prediction-rate {
  padding-top: 10px;
  padding-bottom: 10px;
}

.prediction-rate-stat {
  display: inline-block;
  margin-left: 8px;
  font-family: Roboto, sans-serif;
  color: #00c853;
  font-size: 16px;
}

.recent-trades {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
}

.profile-settings-container {
  margin-top: 35px;
  padding: 32px 32px 32px 30px;
}

.profile-settings-header {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.big-pfp {
  display: inline-block;
  margin-top: 0px;
  border-radius: 50%;
}

.basic-profile-information {
  display: inline-block;
  margin-left: 26px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pfp-container {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .navbar-button {
    margin-top: -885px;
  }
  .navbar-button.sign-up-btn {
    margin-top: 0px;
  }
}

@media (max-width: 479px) {
  .stat-label.predictions {
    max-width: auto;
    padding-left: 0px;
    text-align: center;
  }
  .actual-stat {
    max-width: auto;
    text-align: center;
  }
  .bet-btn {
    display: block;
    padding-left: 25px;
    text-align: center;
  }
  .bet-btn.bet-down {
    display: block;
    margin-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .bet-down-column {
    left: 0px;
    bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-button {
    margin-top: 0px;
  }
  .navbar-button.sign-up-btn {
    position: fixed;
    z-index: 1000;
    overflow: visible;
    margin-top: 0px;
  }
  .homepage-row {
    margin-top: 85px;
    padding-top: 0px;
  }
  .introduction-container {
    margin-top: 0px;
    padding: 15px;
  }
  .introduction-text {
    margin-top: 0px;
  }
  .company-name {
    margin-top: 0px;
    opacity: 0;
  }
  .company-desc {
    max-width: 763px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 38px;
    line-height: 49px;
  }
  .submit-button {
    padding-right: 20px;
    padding-left: 20px;
  }
  .small-intro {
    margin-left: 0px;
  }
  .small-intro-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .explanation-text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .copyright {
    display: block;
    width: 157px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .stock-graph {
    opacity: 0;
  }
  .static-graph {
    max-width: 100%;
  }
  .nav-menu {
    margin-top: 0px;
  }
}

